
section.band-details {
  width: 100%;
  overflow: hidden;
  padding: 0 2em;
}


@media screen and (min-width: 992px) {
  section.band-details {
    width: 40%;
    padding: 0 1em;
  }
}

@media screen and (min-width: 1200px) {
  section.band-details {
    width: 35%;
  }
}

@media screen and (min-width: 1400px) {
  section.band-details {
    width: 30%;
  }
}

section.band-details .details img {
  width: 100%;
  border-radius: 1em;
}


section.band-details .detail .info h4 {
  width: 100%;
  color: var(--black-color);
  font-size: 1rem;
  line-height: 2.2rem;
  font-weight: 500;
  max-height: 4.4rem;
  overflow: hidden;
  display: block;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  cursor: pointer;
  margin: 0;
}

.video-collection .video .info h6 {
  width: 100%;
  color: var(--gray-color);
  font-size: 0.750rem;
  line-height: 1rem;
  font-weight: 400;
  overflow: hidden;
  display: block;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  cursor: pointer;
  margin: 0;
}